<style>
 

    a{
        color: black;
    }

    a:hover{
        color: red;
    }

    h5{
        font-weight: bold;
        margin-bottom: 20px;
    }

    .footer-form{
      padding: 5%;
    }

    .j-footer{
      margin-bottom: 0;
      margin-top: 80px;
    }
</style>



<!-- Footer -->
<div class="jumbotron j-footer">
    <div class="container">
        <footer class="page-footer font-small  pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="">Tags</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Education</a>
          </li>
          <li>
            <a href="#!">Inspiration</a>
          </li>
          <li>
            <a href="#!">Lifestyle</a>
          </li>
          <li>
            <a href="#!">Nature</a>
          </li>
           <li>
            <a href="#!">Travel</a>
          </li>
           <li>
            <a href="#!">Work</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="">Navigation</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Elements</a>
          </li>
          <li>
            <a href="#!">Contact</a>
          </li>
          <li>
            <a href="#!">Authors</a>
          </li> 
          <li>
            <a href="#!">Tags</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 ">

        <!-- Content -->
        <h5 class="text-uppercase">Subscribe</h5>

        <form style="display: flex;" class="footer-form">
                            <div >
                                <div class="">
                                    <input class="input mail-input is-medium" type="text" placeholder="Your email address">
                                    <button class="input submit-input is-medium" type="submit">
                                        <span>Subscribe</span></button>
                                </div>
                            </div>
                        </form>
      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="row">
      <div class="container">
           <div class="footer-copyright  py-3">© 
        2020 Penang – Published with <a href='#'>Ghost</a> & <a href='#'>Penang
           </div>
      </div>
  </div>
  <!-- Copyright -->

</footer>

    </div>
</div>

<!-- Footer -->





